<h3>{{ _('Procastinator Settings') }}</h3>

<form class="form-horizontal">
    <div class="control-group">
        <div class="controls">
            <label class="checkbox">
                <input type="checkbox" data-bind="checked: settings.plugins.procastinator.enabled"> {{ _('Enable') }}
            </label>
        </div>
    </div>
</form>